.Device-Viewer-Container{
    height: 90vh;
    background-color: #FFFFFF;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

.Device-Viewer-Left-Container,
.Device-Viewer-Center-Container,
.Device-Viewer-Right-Container{
    width: calc(100vw / 3);
}

.Device-Stats-Container{
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
}

.Device-Viewer-3D-Model-Container{
    width: 300px;
    height: 470px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}

.Device-Viewer-Current-Distance{
    font-size: .75rem;
    position: relative;
    top: .5rem;
    opacity: .7;
}

.Device-Viewer-Name{
    font-weight: 350;
    background-color: #0f62fe;
    color: #FFFFFF;
    padding: .3rem 1rem;
    font-size: .9rem;
    border-radius: 2rem;
}

.Device-Viewer-Caption-Name-Container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.Device-Viewer-Caption-Container{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.Device-Viewer-Navigation-Helper-Text{
    font-size: .75rem;
}

.Device-Viewer-Previous-Icon-Container,
.Device-Viewer-Next-Icon-Container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Device-Viewer-Center-Container{
    text-align: center;
    position: relative;
}

.Device-Viewer-Right-Container,
.Device-Viewer-Left-Container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.Device-Viewer-Right-Bottom-Container,
.Device-Viewer-Left-Bottom-Container{
    padding: 1rem;
}

.Device-Viewer-Left-Header-Container{
    padding: 1rem;
}

.Device-Viewer-ID-Related-Container{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

@media screen and (max-width: 768px){
    .Device-Viewer-Container{
        height: unset;
        gap: 1rem;
        flex-direction: column;
    }

    .Device-Viewer-Left-Container, 
    .Device-Viewer-Center-Container, 
    .Device-Viewer-Right-Container{
        width: 100%;
    }

    .Device-Viewer-Right-Bottom-Container, 
    .Device-Viewer-Left-Bottom-Container{
        padding: 0;
    }

    .Device-Viewer-Center-Container{
        order: 1;
        height: 75vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        overflow-x: hidden;
    }

    .Device-Viewer-Current-Distance{
        position: unset;
    }

    .Device-Viewer-Left-Container{
        order: 2;
    }

    .Device-Viewer-Right-Container{
        order: 3;
    }

    .Device-Viewer-Caption-Container{
        gap: .5rem;
    }

    .Device-Viewer-Caption-Name-Container{
        gap: 1rem;
    }

    .Device-Viewer-Navigation-Helper-Text{
        font-size: .95rem;
        font-weight: 300;
        width: 80%;
        line-height: 1.5rem;
        margin: 0 auto;
    }

    .Device-Viewer-Previous-Icon-Container, .Device-Viewer-Next-Icon-Container{
        font-size: 1.2rem;
    }
    
    .Device-Viewer-Name{
        font-size: 1rem;
        padding: .35rem 1rem;
    }

    .Device-Viewer-3D-Model-Container{
        width: 100%;
        height: 60vh;
    }
}