#SignUp-Header-Title{
    font-size: 1.6rem;
    font-weight: 300;
}

#SignUp-Body-Container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;
}

@media screen and (max-width: 768px){
    #SignUp-Body-Container{
        width: 100%;
    }
}