#Setup-WiFi-Connection-Title{
    font-size: 1.6rem;
    font-weight: 300;
}

#Setup-WiFi-Connection-Body{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (max-width: 768px){
    #Setup-WiFi-Connection-Body{
        width: 100%;
    }
}