#Linking-Device-Title{
    font-size: 1.6rem;
    font-weight: 300;
}

#Pair-Code-Header-Title{
    font-size: 1rem;
    font-weight: 300;
    padding: .5rem 1rem;
}

#Pair-Code{
    font-size: 1.4rem;
    font-weight: 300;
    color: #0f62fe;
}

#Pair-Code-Description{
    font-weight: 300;
    font-size: .8rem;
    opacity: .85;
}

#Pair-Code-Container{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 600px;
}

@media screen and (max-width: 768px){
    #Pair-Code-Container{
        width: 100%;
    }
}