.Header-Container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 60px;
}

.Header-Brand-Container{
    cursor: pointer;
    background-color: #0f62fe;
}

.Header-Brand-Container:hover{
    opacity: .8;
}

.Header-Brand-Title{
    font-family: 'Tac One', sans-serif;
    display: flex;
    gap: .3rem;
    color: #FFFFFF;
    font-size: 2rem;
    padding: .1rem .7rem;
    align-items: center;
    font-weight: 300;
}

.Header-Brand-Related-Container{
    display: flex;
    align-items: flex-end;
    gap: .8rem;
}

.Header-Software-Version{
    font-weight: 300;
    text-decoration: underline;
    text-underline-offset: 2px;
    font-size: .85rem;
}

.Header-Brand-Right-Navigation-Container{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.Header-Brand-Center-Navigation-Container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 768px){
    .Header-Brand-Center-Navigation-Container{
        display: none;
    }

    .Header-Brand-Right-Navigation-Container{
        gap: 1rem;
    }

    .Header-Software-Version{
        display: none;
    }

    .Header-Container{
        padding: 1rem;
    }
}