.Rectangle-Card-Container{
    display: flex;
    cursor: pointer;
    width: 500px;
    cursor: pointer;
    padding: .5rem 1rem;
    align-items: center;
    justify-content: space-between;
}

.Rectangle-Card-Container:hover{
    background-color: #0f62fe;
    color: #FFFFFF;
}

.Rectangle-Card-Icon-Container .MuiCircularProgress-root{
    color: #121212 !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.Rectangle-Card-Title{
    font-weight: 300;
}