.Input-Container{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.Input-Helper-Text{
    font-size: .8rem;
    opacity: .8;
    line-height: 1rem;
    padding-left: 1.5rem;
    width: 90%;
}

.Input-Node-Container .MuiCircularProgress-root{
    color: #FFFFFF !important;
    width: 1.2rem !important;
    height: 1.2rem !important;
}

.Input-Node-Container{
    height: 50px;
    display: flex;
    align-items: center;
    transition: .2s;
    border: 1px solid #e4e4e4;
    border-radius: .5rem;
    font-size: 20px;
    line-height: 30px;
}

.Input-Node-Container input{
    padding: 1rem;
}

.Input-Right-Icon-Container{
    height: 50px;
    width: 50px;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    background-color: #0f62fe;
    color: #FFF;
    transition: .2s;
}

.Input-Right-Icon-Container:hover{
    opacity: .8;
}

.Input-Right-Icon-Container:active > *{
    transform: scale(.94);
}

.Input-Container.Error .Input-Node-Container{
    border: 1px solid #ff0000;
}

.Input-Node-Container input{
    background-color: transparent;
    width: 100%;
    height: 50px;
}

.Input-Node-Container:has(input:focus),
.Input-Container.Highlight .Input-Node-Container{
    box-shadow: 0 0px 11px 0 #e4e4e4;
}

.Input-Container.Small{
    padding: .3rem 1rem;
}

.Input-Container.Text .Input-Node-Container{
    border: none;
    background-color: transparent;
    padding: 0;
}

.Input-Container.No-Focus .Input-Node-Container:has(input:focus){
    box-shadow: unset;
}

.Input-Container.Small .Input-Node-Container, 
.Input-Node-Container input{
    height: 15px;
}

.Input-Container.Small .Input-Node-Container input::placeholder{
    font-size: .8rem;
}

@media screen and (max-width: 768px){
    .Input-Container{
        width: 100%;
    }

    .Input-Node-Container input{
        font-size: .85rem;
    }
}