.Reset-AP-Config-Button-Container{
    padding: .4rem 1.5rem;
    font-size: .75rem;
    background: #0f62fe;
    color: #f5f5f5;
    cursor: pointer;
    display: flex;
    border-radius: 5rem;
    align-items: center;
    transition: .2s;
    gap: .5rem;
}

.Reset-AP-Config-Button-Container .MuiCircularProgress-root{
    width: 1rem !important;
    height: 1rem !important;
    color: #f5f5f5 !important;
}

.Reset-AP-Config-Button-Container:hover{
    background-color: #1158dc;
}

@media screen and (max-width: 768px){
    .Reset-AP-Config-Button-Container{
        font-size: .65rem;
        padding: .4rem 1rem;
    }
}