#Home-Main{
    display: flex;
    flex-direction: column;
}

#Home-Brand-Articles-Container{
    display: flex;
    gap: 2.5rem;
    overflow-x: hidden;
    overflow-y: hidden;
}

#Home-Brand-Container{
    padding: 1rem;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: space-between;
}

#Home-Brand-Left-Container{
    height: 550px;
    width: 650px;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: space-between;
}

#Home-Brand-Right-Container{
    height: 550px;
    width: calc(100% - 650px);
    overflow-y: scroll;
    border-radius: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#Home-Brand-Left-Title{
    font-size: 2.8rem;
    line-height: 3.5rem;
    font-weight: 350;
}

#Home-Brand-Left-Description{
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 300;
}

#Home-Brand-Left-Description span:first-child{
    margin-right: .5rem;
}

#Home-Brand-Features-Header-Container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#Home-Brand-Features-Body-Container{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

#Home-Brand-Features-Header-Title{
    font-size: 2.3rem;
    line-height: 3rem;
    font-weight: 300;
}

#Home-Brand-Features-Header-Description{
    font-size: .85rem;
    font-weight: 350;
    line-height: 1.2rem;
}

@media screen and (max-width: 768px){
    #Home-Brand-Left-Container{
        background-color: #f9f9f9;
        border-radius: 1rem;
    }

    #Home-Brand-Left-Description{
        font-size: 1.3rem;
        line-height: 2rem;
        font-weight: 300;
    }

    #Home-Brand-Articles-Container{
        overflow-x: scroll;
    }

    #Home-Brand-Left-Container{
        gap: 2rem;
    }

    #Home-Brand-Left-Title{
        font-size: 3rem;
        line-height: 3.5rem;
        font-weight: 350;
    }

    #Home-Brand-Container{
        flex-direction: column;
        gap: 2rem;
    }

    #Home-Brand-Right-Container,
    #Home-Brand-Left-Container{
        height: unset;
        width: 100%;
    }

    #Home-Brand-Features-Body-Container{
        gap: 1.5rem;
        justify-content: space-between;
    }
}