@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Tac One';
    src: url('/fonts/TacOne-Regular.ttf') format('truetype');
}

:root{
    background-color: #f5f5f5;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: transparent;
    list-style-type: none;
    border: none;
}

body{
    font-family: 'Roboto', 'sans-serif';
    min-height: 100vh;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar{
    width: 2px;
    height: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #d3d3d3;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #d3d3d3;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

.MuiCircularProgress-root{
    color: #0f62fe !important;
    width: 2.1rem !important;
    height: 2.1rem !important;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: calc(100vh - 90px);
    padding: 0 2rem;
    max-width: 1100px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1366px){
    i{
        font-size: 1.4vw;
    }
}

@media screen and (max-width: 768px){
    main{
        padding: 1rem;
    }
}